body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 238, 226);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sect{
      display: flex;
      flex-direction: row;
      padding: 0px 0px 5px 10px ;
}

  section {
    
    animation-duration: 5s;
    animation-name: slidein;
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
  }
  @keyframes slidein {
    from {
      margin-right: 100%;
    }
  
    to {
      margin-left: 0%;

    }
  }


