
{# <footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer> #}


<!-- Footer -->
<footer class="page-footer font-small unique-color-dark  mb-0">

  <div style="background-color: #6351ce;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-5 text-center text-md-left mb-2 mb-md-0">
          <h6 class="mb-0">connecter vous avec les reseaux sociaux !</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a  href="https://www.facebook.com" target="_blank" class="fb-ic">  <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
         <a href="https://twitter.com/?lang=fr" target="_blank" class="tw-ic"> <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a href="https://www.google.com" target="_blank" class="gplus-ic"> <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a href="https://fr.linkedin.com" target="_blank" class="li-ic"> <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a href="https://www.instagram.com" target="_blank" class="ins-ic"> <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-3">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Production</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">MDBootstrap</a>
        </p>
        <p>
          <a href="#!">MDWordPress</a>
        </p>
        <p>
          <a href="#!">BrandFlow</a>
        </p>
        <p>
          <a href="#!">Symfony 5</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">liens utilisers</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="{{ path('security_login') }}">votre compte</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Aide</a>
        </p>

      </div>
      <!-- Grid column -->

    <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> AFPA 67 69 Avenue du Général de Gaulle, 77420 Champs-sur-Marne </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> halim.filali@yahoo.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 33 6 52 46 38 81</p>
        <p>
          <i class="fas fa-print mr-3"></i>   0 826 46 14 14</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.afpa.fr/"> AFPA.FR</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->